
<link rel="stylesheet" href="/css/signup.css">

<h1>Sign up Form</h1>
<form action="/users/create" method="post">
    <p>Enter your name</p>
    <input type="text" name="name" placeholder="Enter your name" required>
    <p>Enter your Email</p>
    <input type="email" name="email" placeholder="Enter your email" required>
    <p>Enter your password</p>
    <input type="password" name="password" placeholder="Password" required>
    <br>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <br>
    <button type="submit">Sign up</button>
</form>